<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="BMDATACONST" connectionString="Data Source=ANDROID2W4356\MSSQLSERVER2017;Initial Catalog=BICEDATA;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <!--<add name="CarDatabaseConnectionString" connectionString="workstation id=CarDatabase.mssql.somee.com;packet size=4096;user id=yosefabdoh_SQLLogin_1;pwd=rsf7qyy69m;data source=CarDatabase.mssql.somee.com;persist security info=False;initial catalog=CarDatabase"-->
    <!--<add name="CarDatabaseConnectionString" connectionString="Data Source=ANDROID2W4356\MSSQLSERVER2017;Initial Catalog=DB_A45C5E_cars;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <add name="CarDatabaseConnectionString" connectionString="Data Source=ANDROID2W4356\MSSQLSERVER2017;Initial Catalog=DB_A45C5E_cars;Integrated Security=True"
     providerName="System.Data.SqlClient" />
    <!--<add name="CarDatabaseConnectionString2" connectionString="Data Source=SQL7002.site4now.net;Initial Catalog=DB_A45C5E_cars;User Id=DB_A45C5E_cars_admin;Password=Yosef74123;"-->
    <add name="CarDatabaseConnectionString2" connectionString="Data Source=ANDROID2W4356\MSSQLSERVER2017;Initial Catalog=DB_A45C5E_cars;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="DB_A45C5E_carsConStrLocal" connectionString="Data Source=ANDROID2W4356\MSSQLSERVER2017;Initial Catalog=DB_A45C5E_cars;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

</configuration>
